.div2{
	width: 351px;
    height: 91px;
    margin-top:1000px;
    margin-left: 322px;
    display: block;
    font-size: 31px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
	animation: flow 5s ease 0s both;
	-webkit-animation: flow 5s ease 0s both;
	z-index: 999;
}
@keyframes flow{
	from{
		transform:translate(0,0);
		opacity: 1;
	}
	to{
		transform: translate(0,-200px);
		opacity: 0;
	}
}
@-webkit-keyframes flow{
	from{
		transform:translate(0,0);
		opacity: 1;
	}
	to{
		transform: translate(0,-200px);
		opacity: 0;
	}
}